.aboutus {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 60px 20px;
}
.aboutus-left {
  min-width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: end;
  margin: 15px;
}
.aboutus-right {
  min-width: 40%;
  height: 100%;
}
.aboutus-image {
  max-width: 300px;

  border-radius: 8px;
  margin-top: 10px;
  box-shadow: rgba(197, 195, 195, 0.35) 0px 5px 15px;
}
.aboutus-title {
  font-size: 100px;
  color: white;
  font-weight: 900;
}
.aboutus-text {
  font-size: 25px;
  color: white;
  margin-left: 10px;
}
.aboutus-btn {
  height: 60px;
  width: 120px;
  margin: 10px 10px;
  font-size: 20px;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .aboutus {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
  .aboutus-image-holder {
    display: flex;
    flex-direction: column;
  }
  .aboutus-left {
    min-width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: end;
    margin: 10px;
  }
  .aboutus-right {
    min-width: 40%;
    height: 100%;
  }
  .aboutus-image {
    max-width: 200px;

    border-radius: 8px;
    margin-top: 15px;
    box-shadow: rgba(197, 195, 195, 0.35) 0px 5px 15px;
  }
  .aboutus-title {
    font-size: 60px;
    color: white;
    font-weight: 900;
  }
  .aboutus-text {
    font-size: 20px;
    color: white;
    margin-left: 10px;
  }
  .aboutus-btn {
    height: 60px;
    width: 120px;
    margin-top: 50px;
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .aboutus {
    display: flex;
    flex-direction: row;
    padding: 40px;
  }
  .aboutus-images {
    height: 100%;
  }
  .aboutus-image-holder {
    display: flex;
    flex-direction: column;
  }
  .aboutus-left {
    min-width: 40%;
    min-height: 200%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    margin: 10px;
  }
  .aboutus-right {
    min-width: 40%;
  }
  .aboutus-image {
    max-width: 120px;
    border-radius: 8px;
    margin-top: 50px;
    box-shadow: rgba(197, 195, 195, 0.35) 0px 5px 15px;
  }
  .aboutus-title {
    font-size: 30px;
    color: white;
    font-weight: 900;
    margin: 5px;
    padding: 5px;
  }
  .aboutus-text {
    font-size: 15px;
    color: white;
    margin-left: 10px;
  }
  .aboutus-btn {
    height: 30px;
    width: 60px;
    margin-top: 20px;
    font-size: 10px;
  }
}
