.main-title {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-title-top {
  font-size: 100px;
  font-weight: 900;
}
.main-title-bottom {
  font-size: 30px;
  max-width: 50%;
  font-weight: 500;
}

.main-image {
  max-height: 400px;
}

.main-mint {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  justify-content: center;
  align-items: center;
}

.main-mint h1 {
  font-size: 50px;
}

.main-mint-buttons {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  justify-content: space-between;
}

.mint-amount-button {
  min-height: 100%;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: 900;
}
.main-mint-amount {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  color: white;
  font-weight: 600;
}

.mint-amount-button {
  color: white;
  font-size: 30px;
  width: 70px;
  height: 70px;
  background-color: #725960;
}

.mint-amount-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.mint-button {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  height: 80px;
  width: 150px;
  font-size: 30px;
}

.mint-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
