.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: min-content;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header-sections-small {
  visibility: hidden;
}
.notvisible {
  display: none;
}
.burger {
  display: none;
}

.header-button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 1px;
  align-items: center;
}

.header-title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 1px;
  font-size: 25px;
  font-weight: 500;
  color: antiquewhite;
  align-items: center;
}
.header-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  color: antiquewhite;
  align-items: center;
  width: 50%;
  visibility: none;
}
.header-sections-link {
  text-decoration: none;
  color: white;
}
.wallet {
  color: white;
}

.roll-in-left {
  -webkit-animation: roll-in-left 0.6s ease-out both;
  animation: roll-in-left 0.6s ease-out both;
}
@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .burger {
    display: flex;
  }
  .header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: min-content;
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #243b55,
      #141e30
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #243b55,
      #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    align-items: center;
    min-width: 100%;
  }

  .header-button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 1px;
    margin: 1px;
    align-items: center;
  }

  .header-title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 1px;
    font-size: 25px;
    font-weight: 500;
    color: antiquewhite;
    align-items: center;
  }
  .header-sections {
    display: none;
  }
  .header-sections-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    color: antiquewhite;
    align-items: center;
    visibility: visible;
  }
  .header-sections-link {
    text-decoration: none;
    color: white;
  }
  .wallet {
    color: white;
  }
}

@media (max-width: 480px) {
  .header-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: min-content;
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #243b55,
      #141e30
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #243b55,
      #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    align-items: center;
    min-width: 100%;
  }

  .header-button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 1px;
    margin: 10px;
    align-items: center;
  }

  .header-title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 1px;
    font-size: 25px;
    font-weight: 500;
    color: antiquewhite;
    align-items: center;
  }
  .header-sections {
    display: none;
  }
  .header-sections-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    color: antiquewhite;
    align-items: center;
    visibility: visible;
  }
  .header-sections-link {
    text-decoration: none;
    color: white;
  }
  .wallet {
    color: white;
  }
}
