.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80px;
  background-image: radial-gradient(
    circle 610px at 5.2% 51.6%,
    rgba(5, 8, 114, 1) 0%,
    rgba(7, 3, 53, 1) 97.5%
  );
  opacity: 0.9;
}

.header-button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 1px;
  align-items: center;
}

.header-title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 1px;
  font-size: 25px;
  font-weight: 500;
  color: antiquewhite;
  align-items: center;
}
.header-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  color: antiquewhite;
  align-items: center;
  width: 50%;
}
.wallet {
  color: white;
}
